body {
    padding: 20px;
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-link {
    padding: 15px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}